.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactItem:not(:last-child) {
  margin-bottom: 10px;
}
.contactName {
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
}
/* .deleteBtn {
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
} */
.deleteBtn {
  padding: 5px;
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
}
.deleteBtn:hover{
  background-color: rgba(192, 70, 26, 0.6);
  /* color: rgb(192, 70, 26); */
 border: 2px solid black;
  cursor: pointer;
}
